:root {
  --primary-color: rgb(238, 164, 80);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(44, 41, 38);
}

a:link,
a:visited {
  text-decoration: none;
}

#main-header {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(29, 26, 24);
  padding: 0 5%;
}

#logo:link,
#logo:visited {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--primary-color);
  text-transform: uppercase;
}

#main-header nav ul {
  list-style: none;
  display: flex;
}

#main-header nav ul li {
  margin: 0 1.6rem;
}

#main-header nav ul li a:link,
#main-header nav ul li a:visited {
  color: rgb(185, 131, 31);
  font-size: 2rem;
}

#main-header nav ul li a:hover,
#main-header nav ul li a:active {
  color: rgb(228, 163, 44);
}

main {
  padding-top: 3.2rem;
}

main h1 {
  text-align: center;
  color: var(--primary-color);
  font-size: 4rem;
}

#latest-products {
  width: 80%;
  margin: 3.2rem auto;
}

#latest-products > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}

.food-item {
  background-color: rgb(228, 206, 182);
  border-radius: 6px;
  overflow: hidden;
}

.food-item img {
  width: 100%;
  height: 24rem;
  object-fit: cover;
}

.food-item-content {
  padding: 1.6rem;
  text-align: center;
}

.food-item-content h2 {
  margin-bottom: 2.4rem;
}

.food-item-content a:link,
.food-item-content a:visited {
  display: inline-block;
  background-color: rgb(228, 157, 44);
  color: #fff;
  border-radius: 4px;
  padding: 0.8rem 2.4rem;
}

.food-item-content a:hover,
.food-item-content a:active {
  background-color: rgb(221, 134, 34);
}

/*--------------------------------------------------------------
# Media queries
--------------------------------------------------------------*/

@media (max-width: 48em) {
  /* 768px */
  #main-header nav {
    display: none;
  }
  main h1 {
    font-size: 2.4rem;
  }
  #latest-products > ul {
    grid-template-columns: 1fr;
  }
}
